<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div class="fail-page">
    <div class="form">
        <h2>Sorry, wrong password!</h2>
            <h6>From query string: <%= msg %></h6>
    </div>
</div>