<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div class="login-page">
    <div class="form">
        <form action="/proccess_login" method="POST" class="login-form">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>